venv
.env
.vscode/
.log
logs
__pycache__
files
database
.idea/
output/
*.log
vendor_urls
extras
tests/.coverage
final/
profiles/
home/kevit/.config/google-chrome/
output987/
profiles
output1/
gst_details/
gbd/
dump/