# PORTS
INDIAMART_PORT=
DELDURE_PORT=
JUSTDIAL_PORT=
GOOGLE_BUSINESS_DATA_PORT=

# OUTPUT DIRECTORY
OUTPUT_DIR_PATH = output

# COMBINED DATA
COMBINED_DATA_DIR=categories

# INDIAMART OUTPUT DIRECTORIES
INDIAMART_OUTPUT_DIR_PATH =
INDIAMART_SELENIUM_DRIVER_PATH =
INDIAMART_CHROME_PROFILE_PATH  =

# DELDURE OUTPUT DIRECTORIES
DELDURE_OUTPUT_DIR_PATH=deldure
DELDURE_VENDOR_URLS_DIR=vendor_urls

# JUSTDIAL OUTPUT DIRECTORIES
JUSTDIAL_OUTPUT_DIR_PATH=justdial
JUSTDIAL_JDMART_URLS_OUTPUT_DIR_PATH=urls/jdmart
JUSTDIAL_JDMAIN_URLS_OUTPUT_DIR_PATH=urls/jdmain

# PROXIES
HTTP_PROXY_VALUE=
HTTPS_PROXY_VALUE=
HTTP_INDIAN_PROXY_VALUE=

# DB
DB_URL=
DB_NAME=
RAW_SCRAPED_DATA_COLLECTION=
GST_DATA_COLLECTION=
GOOGLE_BUSINESS_DATA_COLLECTION=

#GSTs
GST_DIR=gst_details
GST_API_KEY=
RETURNS_API_KEY=

#Google Businesses
GOOGLE_BUSINESS_DATA_DIR=gbd
X_RAPIDAPI_KEY=
X_RAPIDAPI_HOST=